.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f5f5f5;
}

.maze-container {
    -fx-padding: 15;
    -fx-background-color: white;
}

.bottom-bar {
    -fx-padding: 10;
    -fx-alignment: center;
}
